@model DentalResearchApp.Models.AllStudiesViewModel
@{
    ViewBag.Title = "All Studies";
    Layout = "~/Views/_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="../css/3rdParty/bootstrap.min.css" />
    <script type="text/javascript" src="../js/3rdParty/jquery.min.js"></script>
    <script src="../js/3rdParty/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/Index.css" type="text/css" />
    <title>Dental Research App - All Studies</title>
</head>
<body>
<div class="col-lg-12, col-md-12, col-xs-12">
    <h1 class="secondHeadline" style="text-align: center">All Studies</h1>
    <hr />
    @*Todo: prolly væk
        <div style="text-align: center">
        <button href="CreateStudy" class="createStudy-modal btn btn-success">Create new Study</button>
    </div>*@
    <br/>
    <table class="customTable">
        <thead>
        <tr>
            <th class="customTh">Studies</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.AllStudyNames)
        {
            <tr>
                <td class="customTd">
                    <a href="StudyDetails" data-studyId="@item" class="studyDetails-modal">@item</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="modal fade text-center" id="CreateStudyModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade text-center" id="StudyDetailsModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.studyDetails-modal').on('click', function(e){
        e.preventDefault();
        var studyId = $(e.relatedTarget).data('studyId');

        $('#StudyDetailsModal').modal('show').find('.modal-content').val(studyId).load($(this).attr('href'));
    });

    $('.createStudy-modal').on('click', function(e){
        e.preventDefault();

        $('#CreateStudyModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
</script>
</body>
</html>
