<!DOCTYPE html>
<html>
@{
    Layout = "../_Layout.cshtml";
    ViewBag.Title = "Dental Research App";
}
<head>
    <title>SurveyJS</title>
    <link rel="stylesheet" href="./css/3rdParty/bootstrap.min.css" />
    <script type="text/javascript" src="./js/3rdParty/jquery.min.js"></script>
    <script src="./js/3rdParty/bootstrap.min.js"></script>
    <script src="./js/3rdParty/knockout-debug.js"></script>
    <link rel="stylesheet" href="./css/3rdParty/survey.css" />
    <link rel="stylesheet" href="/css/Index.css" type="text/css">
</head>

<body>
    <div class="sv_main sv_frame sv_default_css">
        <div class="sv_custom_header"></div>
        <div class="sv_container">
            <div class="sv_header">
                <h1>Surveys</h1>
                <h3>Below you can see the list of available surveys you can edit, run and see the results</h3>
            </div>
            <div class="sv_body">
                <div id="surveys-list" class="surveys-list">
                    <section>
                        <button data-bind="click: function() { createSurvey('NewSurvey' + Date.now(), loadSurveys); }">Add</button>
                    </section>
                    <table class="table table-striped">
                        <tbody>
                            <!-- ko foreach: availableSurveys -->
                            <tr>
                                <td data-bind="text: name"></td>
                                <td>
                                    <a class="sv_button_link" data-bind="attr: { href: 'surveyrunner?id=' + ko.unwrap(id) }">Run</a>
                                    <a class="sv_button_link" data-bind="attr: { href: 'editor?id=' + ko.unwrap(id) }">Edit</a>
                                    <a class="sv_button_link" data-bind="attr: { href: 'survey/results?id=' + ko.unwrap(id) }">Results</a>
                                    <span class="sv_button_link sv_button_delete" data-bind="click: function() { $parent.deleteSurvey(ko.unwrap(id), $parent.loadSurveys); }">Delete</span>
                                </td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/js/index.js"></script>