<!DOCTYPE html>
<html>
@{
    Layout = "../_Layout.cshtml";
    ViewBag.Title = "Dental Research App";
}
<head>
    <meta charset="utf-8"/>
    <title>Survey Results</title>
    <link rel="stylesheet" href="./css/3rdParty/bootstrap.min.css" />
    <script type="text/javascript" src="./js/3rdParty/jquery.min.js"></script>
    <script type="text/javascript" src="./js/3rdParty/jquery.dataTables.min.js"></script>
    <script src="./js/3rdParty/bootstrap.min.js"></script>
    <script src="./js/3rdParty/knockout-debug.js"></script>
    <script src="~/js/3rdParty/survey.ko.js"></script>
    <link rel="stylesheet" href="./css/3rdParty/survey.css" />
    <link rel="stylesheet" href="./css/3rdParty/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/css/Index.css" />
</head>

<body>
    </div>
        </div>
    </div>

</body>

</html>