@model DentalResearchApp.Models.SurveyResultsViewModel

@{
    ViewBag.Title = "All Survey Results";
    Layout = "~/Views/_Layout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="../css/3rdParty/bootstrap.min.css" />
    <script type="text/javascript" src="../js/3rdParty/jquery.min.js"></script>
    <script src="../js/3rdParty/bootstrap.min.js"></script>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/Index.css" type="text/css"/>

    <title>Dental Research App - All Survey Results</title>
</head>

<body>
    <div class="col-lg-12, col-md-12, col-xs-12">
        <h1 class="secondHeadline" style="text-align: center">All Results</h1>
        <hr />
        <table class="customTable">
            <thead>
            <tr>
                <th class="customTh">Survey Results</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.AllSurveyNames)
            {
                <tr>
                    <td class="customTd">
                        <a href="/Survey/Results?id=@item">@item</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <hr/>
        <div style="text-align: center">
            <label>Choose the format you wish to download the selected Results in:</label>
            <br/>
            <input type="button" class="btn btn-success" onclick="" value="Pdf" /> <!--Todo: Create onclick Method-->
            <input type="button" class="btn btn-success" onclick="" value="Csv" /> <!--Todo: Create onclick Method-->
        </div>
        </div>
</body>
</html>