
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/_Layout.cshtml";
}
<html>
<head>
    <title>SurveyJS</title>
    <link rel="stylesheet" href="./css/3rdParty/bootstrap.min.css" />
    <script type="text/javascript" src="./js/3rdParty/jquery.min.js"></script>
    <script src="./js/3rdParty/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/Index.css" type="text/css">
</head>
<body>
    <h1 style="text-align: center">Home Page</h1>
</body>
</html>
