<div class="modal-header">
    <link rel="stylesheet" href="/css/Index.css" type="text/css" />
    <h2 class="modal-title secondHeadline" style="text-align: center">Reset Forgotten Password</h2>
</div>
<div class="modal-body">

    @using (Html.BeginForm("ForgotMyPassword", "login", FormMethod.Get))
    {

        <ul class="list-unstyled">
            <li class="row">
                <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: left"></div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left">
                    @Html.Label("Email:")
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: left">
                    @Html.TextBox("Email", null, new { @class = "inputField", @id = "email", @placeholder = "E-mail", @required = true, @type = "email", @maxlength = "60" })
                </div>
            </li>
        </ul>
        <input type="submit" class="btn btn-success" value="Reset Password" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

    }
    <br />
</div>

<div class="modal-footer" style="text-align: center">
</div>
<div class="clearfix"></div>