<!DOCTYPE html>
@{
    ViewBag.Title = "Dental Research App - Log In";
}
<html>
<head>
    <link rel="stylesheet" href="/css/Styles.css" type="text/css">
    <link rel="stylesheet" href="~/css/3rdParty/bootstrap.min.css" />
    <script src="~/js/3rdParty/jquery.min.js"></script>
    <script src="~/js/3rdParty/bootstrap.min.js"></script>

    <meta charset="utf-8" />
    <title>Dental Research App - Log In</title>

</head>
<body class="login">
    <br />
    <h1 class="mainHeadline" style="padding-bottom:0px; margin-bottom:0px;">Department of Dentistry and Oral Health Aarhus<br /> Dental Research App</h1>
    <br />
    <div class="box">
        <h1 class="secondHeadline">Log in</h1>
        <form method="post" id="loginform">
            <input type="text" placeholder="Username" name="userName" class="inputField" id="userName" />
            <input type="password" placeholder="Password" name="passWord" class="inputField" id="passWord" style="margin-left: 5px" />
            <br />
            <Button type="submit" form="loginform" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px; text-align: center">Sign in</Button>
        </form>
        <button href="/Login/ForgotMyPasswordModal" class="forgotmypassword-modal btn btn-primary">Forgot My Password</button>
        <div class="modal fade text-center" id="ForgotMyPasswordModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>

 <script type="text/javascript">
    if ("@ViewBag.Message" !== "")
    {
            window.onload = function () {
                alert("@ViewBag.Message");
            };
     }
        (function ($) {
            function processForm(e) {
                $.ajax({
                    url: "/Cookie/Login",
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify({ "username": $('#userName').val(), "password": $('#passWord').val() }),
                    processData: false,
                    success: function () {
                        window.location.href = "/Study/AllStudies";
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
                e.preventDefault();
            }
            $('#loginform').submit(processForm);
        })(jQuery);

     $('.forgotmypassword-modal').on('click', function (e) {
        e.preventDefault();

        $('#ForgotMyPasswordModal').modal('show').find('.modal-content').load($(this).attr('href'));
    });
</script>

</body>
</html>