@using Microsoft.AspNetCore.Rewrite.Internal.UrlActions
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/css/Index.css">

   </head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header" style="text-align: center">
                <h3>Tandlægehøjskolen Aarhus</h3>
            </div>
            <ul class="list-unstyled components">
                <p>Dental Research App</p>
                <li class="active">
                    <a href="#surveySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Surveys <span class="caret"></span></a>
                    <ul class="collapse list-unstyled" id="surveySubmenu">
                        <li>
                            <a href="#">Editor</a>
                        </li>
                    </ul>
                    <a href="#AllStudiesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">All Studies <span class="caret"></span></a>
                    <ul class="collapse list-unstyled" id="AllStudiesSubmenu">
                        <li>
                            <a href="#PatientSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patient <span class="caret"></span></a>
                            <ul class="collapse list-unstyled" id="PatientSubmenu">
                                <li>
                                    <a href="#SessionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Session <span class="caret"></span></a>
                                    <ul class="collapse list-unstyled" id="SessionSubmenu">
                                        <li>
                                            <a href="#">Examinations</a>
                                            <a href="#">Survey/Results</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#AllPatientsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">All Patients <span class="caret"></span></a>
                    <ul class="collapse list-unstyled" id="AllPatientsSubmenu">
                        <li>
                            <a href="#StudySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Study<span class="caret"></span></a>
                            <ul class="collapse list-unstyled" id="StudySubmenu">
                                <li>
                                    <a href="#SessionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Session <span class="caret"></span></a>
                                    <ul class="collapse list-unstyled" id="SessionSubmenu">
                                        <li>
                                            <a href="#">Examinations</a>
                                            <a href="#">Survey/Results</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("Send Survey", "SendSurvey", "Link")
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#AdminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin <span class="caret"></span></a>
                    <ul class="collapse list-unstyled" id="AdminSubmenu">
                        <li>
                            <a href="#">Invite to Site</a>
                            <a href="#">Manage Users</a>
                            <a href="#">Manage Patients</a>
                        </li>
                    </ul>
                </li>   
                <li>
                </li>
                <li>
                    <a href="#">The Magnificent Pain-O-Meter!!</a>
                </li>
            </ul>
        </nav>
        <div id="content" style="width:inherit; height:inherit">
            @RenderBody()
        </div>
    </div>
</body>
</html>
