body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

section {
  margin: 2em 0;
}
.page-link {
  margin: 1em 2em;
}

.survey-page-header,
.survey-page-header .sv_main {
  background-color: #e7e7e7;
}

.survey-page-header-content {
  max-width: 80%;
  margin: auto;
  padding: 1.5em;
}

.survey-page-header-content a {
  color: white;
  text-decoration: unset;
}

.sv_main.sv_frame .sv_container .sv_header {
  padding-top: 2em;
}

.svd_container .sv_custom_header {
  display: none;
}

.sv_main.sv_frame .svd_container .sv_container {
  max-width: none;
  padding: unset;
}

.surveys-list table thead td {
  font-weight: bold;
}

.surveys-list table td:nth-child(2) {
  width: 50%;
}

.sv_button_link {
  color: #1ab394;
  width: 100px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
}

.sv_button_link:hover,
.sv_button_link:visited:hover {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
}

.sv_button_link:visited {
  color: #1ab394;
}

.sv_button_link.sv_button_delete {
  color: #ec2626;
}

.sv_button_link.sv_button_delete:hover {
  background-color: #ec2626;
  color: #fff;
}

#resultsTable td {
  cursor: pointer;
}

.sv_body {
  overflow: scroll;
}

.fork_me_on_github img {
  z-index: 1;
}

.customTable {
    border: 4px solid #47748b;
    margin: 0 auto 0 auto;
    padding: 20px 0px 120px 0px;
    width: 50%;
}
.customTd {
    border: 2px solid #47748b;
    height: 40px;
    text-align: center
}

.customTh {
    border: 3px solid #47748b;
    height: 50px;
    text-align: center
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 150px;
    max-width: 250px;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar-active {
    margin-left: -250px;
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: #fff;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #7386d5;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    color: #fff;
    background: #7386d5;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle:after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/* Til håndtering af mindre skærme*/
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}