<!DOCTYPE html>
<html>
@{
    Layout = "../_Layout.cshtml";
    ViewBag.Title = "Dental Research App";
}


<head>
    <title>Welcome to SurveyJS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="https://unpkg.com/survey-knockout"></script>
    <link rel="stylesheet" href="https://unpkg.com/survey-knockout/survey.css" />
    <link rel="stylesheet" href="css/Index.css" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div class="survey-page-header">
        <div class="sv_main survey-page-header-content">
            <button onclick="window.location = 'survey'">&lt&nbspBack</button>
        </div>
    </div>
    <div id="surveyElement">
    </div>
<script src="/js/surveyrunner.js"></script>
</body>
</html>
