<!DOCTYPE html>
<html>
@{
    Layout = "../_Layout.cshtml";
    ViewBag.Title = "Dental Research App";
}


<head>
    <title>Welcome </title>
    <link rel="stylesheet" href="css/Index.css" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
<div class="sv_main sv_frame sv_default_css">
    <div class="sv_custom_header"></div>
    <div class="sv_container">
        <div class="sv_header">
            <h1>Surveys</h1>
            <h3>Hello</h3>
        </div>
        <div class="sv_body">
            <div class="sv_main survey-page-header-content">
                <button onclick= "verifyLink();">Start survey</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/surveyrunnerindex.js"></script>
</body>

</html>
