    <!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Dental Research App";
}


<head>
    <title>Welcome to SurveyJS</title>
    <script src="./js/3rdParty/knockout-min.js"></script>
    <script src="~/js/3rdParty/survey.ko.js"></script>
    <link rel="stylesheet" href="./css/3rdParty/survey.css" />
    <link rel="stylesheet" href="css/Index.css" />

    <script type="text/javascript" src="./js/3rdParty/jquery.min.js"></script>
    <script src="./js/3rdParty/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/3rdParty/bootstrap.min.css" />
</head>

<body>
    <div class="survey-page-header">
        <div class="sv_main survey-page-header-content">
        </div>
    </div>
    <div id="surveyElement">
    </div>
<script src="/js/surveyrunner.js"></script>
</body>
</html>
