<!DOCTYPE html>
@{ 
    Layout = "../_Layout.cshtml";
    ViewBag.Title = "Dental Research App";
}
<html>

<head>
    <title>Welcome to SurveyJS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="https://unpkg.com/survey-knockout"></script>
    <link rel="stylesheet" href="https://unpkg.com/survey-knockout/survey.css" />
    <link rel="stylesheet" href="./css/index.css" />
</head>

<body>
    <div class="survey-page-header">
        <div class="sv_main survey-page-header-content">
            <button onclick="window.location = 'survey'">&lt&nbspBack</button>
        </div>
    </div>
    <div id="surveyElement">
    </div>

</body>

</html>
<script src="/js/surveyrunner.js"></script>