<!DOCTYPE html>
@{
    ViewBag.Title = "Dental Research App - Log In";
}
<html>
<head>
    <link rel="stylesheet" href="/css/Styles.css" type="text/css">

    <meta charset="us-ascii" />
    <title>Dental Research App - Log In</title>

</head>
<body>
    <!-- <br />
    <h1 class="mainHeadline" style="padding-bottom:0px; margin-bottom:0px;">Department of Dentistry and Oral Health Aarhus<br /> Dental Research App</h1>
    <br /> -->
    <!-- <div class="box">
        <h1 class="secondHeadline">Log in</h1>
        <form method="post" id="loginform">
            <input type="text" placeholder="Username" name="userName" class="email" id="userName" />
            <input type="password" placeholder="Password" name="passWord" class="email" id="passWord" />
            <br />
            <input type="submit" value="Sign in" form="loginform" style="margin-left: 140px; margin-top: 40px">
        </form>
    </div> -->
    <!-- <script src="/js/jquery.min.js"></script> -->

    <!-- <script>
        (function ($) {
            function processForm(e) {
                $.ajax({
                    url: "AuthCookie",
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify({ "username": $('#userName').val(), "password": $('#passWord').val() }),
                    processData: false,
                    success: function () {
                        window.location.href = "survey";
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
                e.preventDefault();
            }
            $('#loginform').submit(processForm);
        })(jQuery);
    </script> -->

</body>
</html>